<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome?</h2>
    <%= if @y do %>
        <p><%= @x %> is a Palindrome!</p>
    <%= else %>
        <p><%= @x %> is not a Palindrome!</p>
    <%end%>
  </div>
</div>

